.conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin-top: 30px;
}

.formstyling {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  gap: 1vw;
  padding: 5vw;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
  border: 1px solid #dadada;
  animation: popup 1s;
}

@keyframes popup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.headingstyling {
  color: black;
  margin-bottom: 2vw;
}

.inputstyling {
  width: 100%;
  border: none;
  border-radius: 30px;
  background: #eee;
  padding: 1vw;
  outline: none;
}

.buttonstyling {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2vw;
  color: white;
  width: 100%;
  border: none;
  background: linear-gradient(to right, rgb(250, 142, 42), rgb(252, 128, 80));
  border-radius: 30px;
  padding: 0.8vw;
  margin-top: 1vw;
}

.parastyling {
  font-size: 1vw;
}

.linkstyling {
  text-decoration: none;
  color: rgb(252, 128, 80);
  margin-left: 10px;
}
