.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 115, 0);
  padding: 6vw 10vw;
  color: white;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
}

.heading a {
  text-decoration: none;
  color: rgb(255, 115, 0);
  margin-top: 40px;
  padding: 1vw 2vw;
  background-color: white;
  border-radius: 30px;
}
